.buttons {
  min-width: 150px;
  max-width: 150px;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  border-radius: 12px;
  transition: scale 0.3s ease-in;
}
.button:hover{
  scale: 1.05;
}

.button img {
  width: 70px;
  height: 40px;
}

.button span {
  font-size: 14px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.button.active {
  background-color: rgba(0, 0, 0, 0.1);
  scale: 1.05;
}

/* Mobile */
@media (max-width: 768px) {
  .buttons {
    flex-direction: row;
    justify-content: space-around;
    height: auto;          
    width: 100%;
  }

  .button {
    padding: 8px;
  }

  .button img {
    width: 50px;
    height: 30px;
  }

  .button span {
    font-size: 12px;
  }
}
