.layout {
  display: flex;
  width: 100%;
  height: 100%;
}
/* Testtt this is NOT final, just testing themes */
.layout.light {
  background-color: #ffffff;
  color: #111;
}

.layout.dark {
  background-color: #0f172a;
  color: #f8fafc;
}

.content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  min-width: 0;
}

/* Mobile */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .content {
    order: 1;
  }

  .sidebar {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
