.layout {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  flex-grow: 1;
  min-width: 0;
}

/* Mobile */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .content {
    order: 1;
  }

  .sidebar {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
