.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* Testtt this is NOT final, just testing themes */
.layout.light {
  background-color: #ffffff;
  color: #111;
}

.layout.dark {
  background-color: #0f172a;
  color: #f8fafc;
}

.content {
  width: 100%;
  height: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .content {
    order: 1;
  }
}