.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.layout.light {
  background-color: #edede9;
  background-image: radial-gradient(#cad2c5 0.8px, transparent 1px);
  background-size: 40px 40px;
}

.layout.dark {
  background-color: #000000;
  background-image: radial-gradient(#4a5759 0.5px, transparent 1px);
  background-size: 40px 40px;
}

.content {
  width: 100%;
  height: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .content {
    order: 1;
  }
}