#header {
  position: fixed;
  top: 20px;
  right: 30px;
  display: flex;
  gap: 20px;
  justify-content: end;
  width: auto;
  z-index: 1000;
}

.header-button {
  width: 40px;
  height: 40px;

  border-radius: 12px;
  border: 2px solid #d9dde1;
  background: #edede9;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 2px 2px 0px 0px #1e2530;
  transition: all 0.2s ease;
}

.header-button:hover {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px 0px #1e2530;
}

/* Animación de CSS */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.language-wrapper {
  position: relative;
}

.language-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 120px;
  padding: 10px;

  background: #edede9;
  border: 2px solid #d9dde1;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px #1e2530;

  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #7f7f7f;

  animation: slideIn 0.2s ease-out;
}

.language-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.language-option:hover {
  background-color: #fdf4d8;
}

.language-option.active::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #ff3b3b;
  border-radius: 50%;
}

/* DARK MODE */
.dark .header-button {
  border: 2px solid #1D212B;
  background: #14181f;
  box-shadow: 0.2px 0.2px 0.2px 0.2px #1D212B;
}

.dark .header-button:hover {
  box-shadow: 0px 0px 0px 0px #000000;
}

.dark .header-button svg {
  color: #F5F3F0;
  opacity: 80%;
}

/* Dropdown */
.dark .language-dropdown {
  border: 2px solid #1D212B;
  background: #14181f;
  box-shadow: 5px 5px 0px 0px #000000;
  color: #F5F3F0;
}

.dark .language-option:hover {
  background-color: #1D212B;
}