.sectionNavigation {
  min-width: 150px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 40px;
}

.sectionNavigation_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.sectionNavigation_button {
  width: 60px;
  height: 60px;
  border-radius: 15px;

  background-color: #f3f3f3;
  border: 2px solid #d9dde1;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.2s ease;

  svg {
    color: #7f7f7f;
  }
}

.sectionNavigation_label {
  font-size: 12px;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #7f7f7f;
}

.sectionNavigation_item:hover {
  transform: translateY(-2px);
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.sectionNavigation_item:hover .sectionNavigation_button {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);

  svg {
    color: black;
  }
}

.sectionNavigation_item:hover .sectionNavigation_label {
  color: black;
}

/* Mobile */
@media (max-width: 768px) {
  .sectionNavigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* same height as fixed navigation bar */
    height: 80px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e5e5e5;
    z-index: 1000;
  }

  .layout.dark .sectionNavigation {
    background-color: #14181f;
    border-top: transparent;
  }

  .sectionNavigation_button {
    width: 45px;
    height: 45px;
  }

  .sectionNavigation_label {
    font-size: 10px;
  }
}


/* =========================
   DARK MODE
========================= */
.sectionNavigation_item.dark .sectionNavigation_button {
  background-color: #1D212B;
  /* gris oscuro elegante */
  border: 2px solid #111827;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.4);
}

.sectionNavigation_item.dark .sectionNavigation_button svg {
  color: #F5F3F0;
  opacity: 50%;
}

.sectionNavigation_item.dark .sectionNavigation_label {
  color: #F5F3F0;
  opacity: 50%;
}

/* Hover en dark */
.sectionNavigation_item.dark:hover .sectionNavigation_button {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

.sectionNavigation_item.dark:hover .sectionNavigation_button svg {
  color: #F5F3F0;
  opacity: 90%;
}

.sectionNavigation_item.dark:hover .sectionNavigation_label {
  color: #F5F3F0;
  opacity: 90%;
}