.sectionNavigation {
  min-width: 150px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 40px;
}

.sectionNavigation_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.sectionNavigation_button {
  width: 60px;
  height: 60px;
  border-radius: 15px;

  background-color: #f3f3f3;
  border: 2px solid #d9dde1;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.2s ease;
}

.sectionNavigation_button img {
  width: 40px;
  opacity: 0.7;
}

.sectionNavigation_label {
  font-size: 12px;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #7f7f7f;
}

/* Mobile */
@media (max-width: 768px) {
  .sectionNavigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* same height as fixed navigation bar */
    height: 80px;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e5e5e5;
    z-index: 1000;
  }

  .sectionNavigation_button {
    width: 50px;
    height: 50px;
  }

  .sectionNavigation_label {
    font-size: 10px;
  }
}