.about-symmetric,
.about-mobile {
  font-family: "DM Sans", sans-serif;
}

/* ---------- DESKTOP ---------- */

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

.about-symmetric {
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 10px;
}

.about-side {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.left {
  align-items: flex-end;
  text-align: right;
}

.right {
  align-items: flex-start;
}

.about-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ROWS */
.row {
  display: flex;
  align-items: center;
  gap: 6px;
  /* MÁS PEGADO */
}

.text-block {
  max-width: 250px;
}

.row h4 {
  font-size: 26px;
  font-weight: 800;
  margin: 0 0 6px;
  line-height: 1;
}

.row p {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
  margin: 0;
}

/* AVATAR */
.avatar {
  width: 210px;
  height: 210px;
  border-radius: 28px;
  overflow: hidden;
  border: 4px solid #2d2d2d;
  background: white;
  animation: float 3s ease-in-out infinite;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FLECHAS */
.arrow {
  width: 70px;
  /* MÁS CHICAS */
  height: 45px;
  stroke: #f6a5b8;
  stroke-width: 2.5;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  flex-shrink: 0;
}

.arrow path {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 2.5s ease-in-out infinite;
}

/* DARK MODE*/
.dark-text h4,
.dark-text p {
  color: white;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 200;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 200;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* ---------- MOBILE ---------- */

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: auto;
  }

  .mobile-avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 0;
  }

  .about-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .about-card {
    background: rgba(255, 255, 255, .55);
    border: 2px solid #2d2d2d15;
    border-radius: 22px;
    padding: 18px;
    backdrop-filter: blur(10px);
  }

  .about-card h4 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  .about-card p {
    font-size: 14px;
    line-height: 1.6;
    color: black;
    margin: 0;
  }
}