html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: stretch;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: auto;
}

.layout {
  display: flex;
  flex-direction: row;
  /* width: 100%;
  height: 100%; */
}

.layout.light {
  background-color: #edede9;
  background-image: radial-gradient(#e3d5ca 0.8px, transparent 1px);
  background-size: 40px 40px;
}

.layout.dark {
  background-color: #000000;
  background-image: radial-gradient(#4a5759 0.5px, transparent 1px);
  background-size: 40px 40px;
}

.content {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

/* Mobile */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .content {
    order: 1;
    /* same height as fixed navigation bar */
    margin-bottom: 80px;
  }
}